<div class="col-md-2" style="margin-top:20px;background-color:gray;padding:2em;">

    <!-- Use of the component 'get-hero' -->
    <get-hero></get-hero>

    <!-- If we want to send data from this component (sidebar) to the 'get-hero' we can use the @Input
        decorator on a variable in the 'get-hero' component. We would sent data from this component to get 
        'get-hero' component like this:
        
        <get-hero [nameOfVariableInGetHeroComponent]="nameOfVariableInSidebarComponent"></get-hero>
        
    -->


</div>