<div class="col-md-10" style="margin-top:20px;background-color:lightgray;padding:2em;">
    
    
    <div *ngIf="allHeroes">
        <h1>{{allHeroesTitle}}</h1>

        <!-- A list where we list out all the element in the component variable 'allHeroes' with the help of
        a loop directive '*ngFor. For each element in the 'allHeroes' list we call each item 'hero'.
        We then use rendering tag '{{}}' to get the data from the item -->
        <ul>
            <li *ngFor="let hero of allHeroes">
                ID: {{hero.Id}} - Name: <strong>{{hero.Name}}</strong> - Power: <i>{{hero.Power}}</i>
            </li>
        </ul>
    </div>    
</div>

<!-- JSON object received from the REST service call:

    Id: ... ,
    Name: ... ,
    Power: ...

 -->